trunk/tests/Service References/bladeDirectorServices/hypervisors1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hypervisors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hypervisors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmockedCall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mockedCall" nillable="true" type="tns:mockedCall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmockedCall" nillable="true" type="tns:ArrayOfmockedCall" />
  <xs:complexType name="mockedCall">
    <xs:sequence>
      <xs:element name="functionName" nillable="true" type="xs:string" />
      <xs:element name="message" nillable="true" type="xs:string" />
      <xs:element name="timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mockedCall" nillable="true" type="tns:mockedCall" />
</xs:schema>