trunk/createDisks/Service References/bladeDirector/requestNode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListNodes">
        <s:complexType />
      </s:element>
      <s:element name="ListNodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListNodesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBladesByAllocatedServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NodeIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBladesByAllocatedServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBladesByAllocatedServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestNode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NodeIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestNodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestNodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBladeStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NodeIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBladeStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBladeStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="releaseBlade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NodeIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="releaseBladeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="releaseBladeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListNodesSoapIn">
    <wsdl:part name="parameters" element="tns:ListNodes" />
  </wsdl:message>
  <wsdl:message name="ListNodesSoapOut">
    <wsdl:part name="parameters" element="tns:ListNodesResponse" />
  </wsdl:message>
  <wsdl:message name="getBladesByAllocatedServerSoapIn">
    <wsdl:part name="parameters" element="tns:getBladesByAllocatedServer" />
  </wsdl:message>
  <wsdl:message name="getBladesByAllocatedServerSoapOut">
    <wsdl:part name="parameters" element="tns:getBladesByAllocatedServerResponse" />
  </wsdl:message>
  <wsdl:message name="RequestNodeSoapIn">
    <wsdl:part name="parameters" element="tns:RequestNode" />
  </wsdl:message>
  <wsdl:message name="RequestNodeSoapOut">
    <wsdl:part name="parameters" element="tns:RequestNodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetBladeStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetBladeStatus" />
  </wsdl:message>
  <wsdl:message name="GetBladeStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetBladeStatusResponse" />
  </wsdl:message>
  <wsdl:message name="releaseBladeSoapIn">
    <wsdl:part name="parameters" element="tns:releaseBlade" />
  </wsdl:message>
  <wsdl:message name="releaseBladeSoapOut">
    <wsdl:part name="parameters" element="tns:releaseBladeResponse" />
  </wsdl:message>
  <wsdl:message name="ListNodesHttpGetIn" />
  <wsdl:message name="ListNodesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getBladesByAllocatedServerHttpGetIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBladesByAllocatedServerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestNodeHttpGetIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestNodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBladeStatusHttpGetIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBladeStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="releaseBladeHttpGetIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="releaseBladeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListNodesHttpPostIn" />
  <wsdl:message name="ListNodesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getBladesByAllocatedServerHttpPostIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBladesByAllocatedServerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestNodeHttpPostIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestNodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBladeStatusHttpPostIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBladeStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="releaseBladeHttpPostIn">
    <wsdl:part name="NodeIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="releaseBladeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="requestNodeSoap">
    <wsdl:operation name="ListNodes">
      <wsdl:input message="tns:ListNodesSoapIn" />
      <wsdl:output message="tns:ListNodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <wsdl:input message="tns:getBladesByAllocatedServerSoapIn" />
      <wsdl:output message="tns:getBladesByAllocatedServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <wsdl:input message="tns:RequestNodeSoapIn" />
      <wsdl:output message="tns:RequestNodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <wsdl:input message="tns:GetBladeStatusSoapIn" />
      <wsdl:output message="tns:GetBladeStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <wsdl:input message="tns:releaseBladeSoapIn" />
      <wsdl:output message="tns:releaseBladeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="requestNodeHttpGet">
    <wsdl:operation name="ListNodes">
      <wsdl:input message="tns:ListNodesHttpGetIn" />
      <wsdl:output message="tns:ListNodesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <wsdl:input message="tns:getBladesByAllocatedServerHttpGetIn" />
      <wsdl:output message="tns:getBladesByAllocatedServerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <wsdl:input message="tns:RequestNodeHttpGetIn" />
      <wsdl:output message="tns:RequestNodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <wsdl:input message="tns:GetBladeStatusHttpGetIn" />
      <wsdl:output message="tns:GetBladeStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <wsdl:input message="tns:releaseBladeHttpGetIn" />
      <wsdl:output message="tns:releaseBladeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="requestNodeHttpPost">
    <wsdl:operation name="ListNodes">
      <wsdl:input message="tns:ListNodesHttpPostIn" />
      <wsdl:output message="tns:ListNodesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <wsdl:input message="tns:getBladesByAllocatedServerHttpPostIn" />
      <wsdl:output message="tns:getBladesByAllocatedServerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <wsdl:input message="tns:RequestNodeHttpPostIn" />
      <wsdl:output message="tns:RequestNodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <wsdl:input message="tns:GetBladeStatusHttpPostIn" />
      <wsdl:output message="tns:GetBladeStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <wsdl:input message="tns:releaseBladeHttpPostIn" />
      <wsdl:output message="tns:releaseBladeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="requestNodeSoap" type="tns:requestNodeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListNodes">
      <soap:operation soapAction="http://tempuri.org/ListNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <soap:operation soapAction="http://tempuri.org/getBladesByAllocatedServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <soap:operation soapAction="http://tempuri.org/RequestNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <soap:operation soapAction="http://tempuri.org/GetBladeStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <soap:operation soapAction="http://tempuri.org/releaseBlade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="requestNodeSoap12" type="tns:requestNodeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListNodes">
      <soap12:operation soapAction="http://tempuri.org/ListNodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <soap12:operation soapAction="http://tempuri.org/getBladesByAllocatedServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <soap12:operation soapAction="http://tempuri.org/RequestNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <soap12:operation soapAction="http://tempuri.org/GetBladeStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <soap12:operation soapAction="http://tempuri.org/releaseBlade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="requestNodeHttpGet" type="tns:requestNodeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListNodes">
      <http:operation location="/ListNodes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <http:operation location="/getBladesByAllocatedServer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <http:operation location="/RequestNode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <http:operation location="/GetBladeStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <http:operation location="/releaseBlade" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="requestNodeHttpPost" type="tns:requestNodeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListNodes">
      <http:operation location="/ListNodes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBladesByAllocatedServer">
      <http:operation location="/getBladesByAllocatedServer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNode">
      <http:operation location="/RequestNode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBladeStatus">
      <http:operation location="/GetBladeStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseBlade">
      <http:operation location="/releaseBlade" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="requestNode">
    <wsdl:port name="requestNodeSoap" binding="tns:requestNodeSoap">
      <soap:address location="http://alizbuild.xd.lan/bladedirector/requestNode.asmx" />
    </wsdl:port>
    <wsdl:port name="requestNodeSoap12" binding="tns:requestNodeSoap12">
      <soap12:address location="http://alizbuild.xd.lan/bladedirector/requestNode.asmx" />
    </wsdl:port>
    <wsdl:port name="requestNodeHttpGet" binding="tns:requestNodeHttpGet">
      <http:address location="http://alizbuild.xd.lan/bladedirector/requestNode.asmx" />
    </wsdl:port>
    <wsdl:port name="requestNodeHttpPost" binding="tns:requestNodeHttpPost">
      <http:address location="http://alizbuild.xd.lan/bladedirector/requestNode.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>