trunk/bladeDirector/Service References/bladeDirectorSvc/bladeDirector4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/bladeDirector?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" />
  <xs:import schemaLocation="http://127.0.0.1/bladeDirector?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/hypervisors" />
  <xs:import schemaLocation="http://127.0.0.1/bladeDirector?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1/bladeDirector?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="keepAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="keepAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="logInResult" nillable="true" type="q1:resultAndWaitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setResourceSharingModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="fairnessType" type="q2:fairnessChecker.fairnessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setResourceSharingModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setWebSvcURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setWebSvcURLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebSvcURL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebSvcURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWebSvcURLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNASParams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNASParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/hypervisors" minOccurs="0" name="getNASParamsResult" nillable="true" type="q3:NASParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="waitToken" nillable="true" type="q4:waitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="getProgressResult" nillable="true" type="q5:resultAndWaitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBladeIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBladeIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllBladeIPResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAnySingleNode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAnySingleNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="RequestAnySingleNodeResult" nillable="true" type="q7:resultAndBladeName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSpecificNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSpecificNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="RequestSpecificNodeResult" nillable="true" type="q8:resultAndBladeName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBladeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBladeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="GetBladeStatusResult" type="q9:GetBladeStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVMStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVMStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="GetVMStatusResult" type="q10:GetBladeStatusResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseBladeOrVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseBladeOrVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="ReleaseBladeOrVMResult" nillable="true" type="q11:resultAndWaitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isBladeMine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isBladeMineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isBladeMineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebootAndStartDeployingBIOSToBlade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BIOSXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebootAndStartDeployingBIOSToBladeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="rebootAndStartDeployingBIOSToBladeResult" nillable="true" type="q12:resultAndWaitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebootAndStartReadingBIOSConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebootAndStartReadingBIOSConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="rebootAndStartReadingBIOSConfigurationResult" nillable="true" type="q13:resultAndWaitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAnySingleVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="hwSpec" nillable="true" type="q14:VMHardwareSpec" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="swSpec" nillable="true" type="q15:VMSoftwareSpec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAnySingleVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="RequestAnySingleVMResult" nillable="true" type="q16:resultAndBladeName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestAsManyVMAsPossible">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="hwSpec" nillable="true" type="q17:VMHardwareSpec" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="swSpec" nillable="true" type="q18:VMSoftwareSpec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestAsManyVMAsPossibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="requestAsManyVMAsPossibleResult" nillable="true" type="q19:ArrayOfresultAndBladeName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateIPXEScript">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="generateIPXEScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generateIPXEScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeepAliveTimeout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeepAliveTimeoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="getKeepAliveTimeoutResult" type="q20:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iSCSIIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iLoIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="debugPort" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="debugKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newFriendlyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="addNodeResult" type="q21:resultCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVMByIP_withoutLocking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VMIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVMByIP_withoutLockingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="getVMByIP_withoutLockingResult" nillable="true" type="q22:vmSpec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBladeByIP_withoutLocking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bladeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBladeByIP_withoutLockingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="getBladeByIP_withoutLockingResult" nillable="true" type="q23:bladeSpec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBladesByAllocatedServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBladesByAllocatedServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getBladesByAllocatedServerResult" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVMByVMServerIP_nolocking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bladeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVMByVMServerIP_nolockingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="getVMByVMServerIP_nolockingResult" nillable="true" type="q25:ArrayOfvmSpec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getLogEventsResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCredentialsForVMServerByVMIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VMIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCredentialsForVMServerByVMIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="getCredentialsForVMServerByVMIPResult" nillable="true" type="q27:vmServerCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentSnapshotDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrentSnapshotDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="getCurrentSnapshotDetailsResult" nillable="true" type="q28:snapshotDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSnapshotForBladeOrVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bladeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newShot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSnapshotForBladeOrVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/bladeDirectorWCF" minOccurs="0" name="selectSnapshotForBladeOrVMResult" nillable="true" type="q29:resultAndWaitToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>